<%- include ('../layout/header') %>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link rel="stylesheet" href="/styles/login.css">
   </head>

   <body>
      <form action="" onsubmit="return validateForm()" method="post" >
         <div class="container mt-3 mb-3">
            <div class="row d-flex align-items-center justify-content-center">
               <div class="col-md-6">
                  <div class="card px-5 py-1">
                     <div class="d-flex justify-content-center">
                        <h1>Sign Up</h1>
                     </div>
                     <div class="form-input">
                        <input type="text" id="fname" name="firstname" class="form-control" placeholder="First Name">
                        <p id="fnameError"></p>
                     </div>
                     <div class="form-input">
                        <input type="text" id="lname" name="lastname" class="form-control" placeholder="Last Name">
                        <p id="lnameError"></p>
                     </div>
                     <div class="form-input">
                        <input type="text" id="email" name="email" class="form-control" placeholder="Email address">
                        <p id="emailError"></p>
                     </div>
                     <div class="form-input">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                        <p id="passwordError"></p>            
                     </div>
                     <div class="form-input">
                        <input type="text" id="mobile" name="mobile" class="form-control" placeholder="Mobile">
                        <p id="mobileError"></p>
                     </div>
                     <button type="submit" class="btn btn-primary mt-4 ">Signup</button>
                     <div class="text-center mb-2 mt-3">
                        <span>Already a member?</span>
                        <a href="/login" class="text-decoration-none">Login</a>
                     </div>
                     <% if (message) { %>
                      <div class="alert alert-success" role="alert">
                        <%- message  %>
                      </div>
                     <% } %>
                  </div>
               </div>
            </div>
         </div>
      </form>
      <script src="/js/signupValidation.js"></script>
      <%- include ('../layout/footer') %>